[Desktop Entry]
Name=org-protocol
Exec=emacsclient -c --alternate-editor='' --no-wait %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;