[Desktop Entry]
Name=org-protocol
Exec=emacsclient --create-frame --socket-name 'capture' --alternate-editor='' --frame-parameters='(quote (name . "capture"))' --no-wait  --eval "(my/org-capture-frame)" %u
Type=Application
Terminal=false
Categories=System;
MimeType=x-scheme-handler/org-protocol;